a.dropdown-toggle.icon-user(href='#', data-toggle='dropdown')
  | Login
  b.caret
ul.dropdown-menu
  li
    form(data-on-submit='common.auth.login')
      label.pgn-jump.input(for='email') #{self.t('common.auth.email')}
      input.input-small(
        id='email', name='email', type='text', min='4')
      label.pgn-jump.input(for='pass') #{self.t('common.auth.pass')}
      input.input-small(
        id='pass', name='pass', type='password', min='6')
      button.btn.btn-inverse(
        type='submit') #{self.t('common.auth.login')}

  li.divider
  li: a(href=self.link_to('registration.form'))= self.t('common.auth.register')
  li.divider
