//- Number of pages before/after current one
- var PAGES_INTERVAL = 2


//- create 'go to page' dropdown menu
mixin _pagination_dropdown_menu(route, params)
  form.dropdown-menu(
    data-pagination=JSON.stringify({ route: route, params: params }),
    data-action='common.pagination.change')
    - var pgmpid = 'pgmid' + ~~(Math.random()*100000000);
    label.pgn-jump.input(for=pgmpid) #{self.t('common.pagination.dropdown_label')}
    .input-append
      input.input-small(
        id=pgmpid, size='8', type='number', min='1',
        placeholder=self.t('common.pagination.dropdown_placeholder'))
      button.btn.btn-inverse(
        onClick='$(this.form).trigger("submit"); return false;',
        type='button') #{self.t('common.pagination.dropdown_button')}

//- Create pagination
//-
//-   route    (String)  - routing rule. Ex: "forum.thread".
//-   params   (Object)  - routing params. See routing rules in config.
//-   current  (String|Int) - current page position
//-   max_page (String|Int) - current page position
mixin pagination(route, params, current, max_page)
  //- cast int types for safety (router returns parameters as strings)
  - current  = +current
  - max_page = +max_page
  ul.pagination
    //- first page always displayed, except when current == 1.
    //- (then we skip first half of paginator)
    - if (current > 1)
      li: a(href=self.link_to(route, params)) 1

    //- left ellipsis displayed, if > 1 pages exists between first one
    //- and left head of "surrounding" pages
    - if (current > PAGES_INTERVAL + 2)
      li.dropdown
        - delete(params.page)
        a.more.dropdown-toggle(
          href=self.link_to(route, params),
          data-target="#", data-toggle='dropdown') ...
        mixin _pagination_dropdown_menu(route, params)

    //- left surrounding pages displayed if current page > 2
    - for (var i=PAGES_INTERVAL; i > 0; i--) {
    -   if (current > i + 1) 
          - params.page = current - i
          li: a(href=self.link_to(route, params)) #{current - i}
    - }

    // current page always dispayed
    li.dropdown
      - params.page = current
      a.current.dropdown-toggle(
        href=self.link_to(route, params),
        data-target="#", data-toggle='dropdown') #{current}
      mixin _pagination_dropdown_menu(route, params)

    //- right surrounding pages displayed if current page < (bottom-1)
    - for (var i=1 ; i <= PAGES_INTERVAL; i++) {
    -   if ((max_page - current) > i )
          - params.page = current + i
          li: a(href=self.link_to(route, params)) #{current + i}
    - }

    //- right ellipsis displayed, if > 1 pages exists between right
    //- tail of "surrounding" pages and the last one.
    - if (max_page - current > PAGES_INTERVAL + 1)
      li.dropdown
        - delete(params.page)
        a.more.dropdown-toggle(
          href=self.link_to(route, params),
          data-target="#", data-toggle='dropdown') ...
        mixin _pagination_dropdown_menu(route, params)

    //- last page always displayed, except it's current one
    //- (then we skip last half of paginator)
    - if (max_page - current !== 0)
      - params.page = max_page
      li: a(href=self.link_to(route, params)) #{max_page}
