!!!
html.no-js
  head
    include ../widgets/head

    - for (var i in self.head.assets)
      - if ('css' === self.head.assets[i].type)
        link(rel='stylesheet', href=self.head.assets[i].link)

    script(type="text/javascript")!= self.asset_include('loader.js')

    - for (var i in self.head.assets)
      - if ('js' === self.head.assets[i].type)
        script(type="text/javascript", src=self.head.assets[i].link)

    script(type="text/javascript")
      nodeca.client.common.init();

  body

    nav.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          ul.nav
            - each item in self.menus.admin.navbar
              li: a(href=item.link)= self.t(item.title)


    .container-fluid
      .row-fluid

        //- Menu sidebar
        .span2
          ul.nav.nav-list.well

            - each item in self.menus.admin.sidebar
              li: a(href=item.link)= self.t(item.title)

        //- Content
        .span10

          ul.breadcrumbs
            li
              a(href='#') Breadcrumbs
            li
              a(href='#') Should
            li
              a(href='#') Be
            li
              a(href='#') Here

          #content!= self.content
