!!!
html.no-js
  head
    include ../common/widgets/head

    - if (self.head.assets.admin)
      each asset in self.head.assets.admin.css
        link(rel='stylesheet', href=asset)

    //if lt IE 9
      script(type="text/javascript", src=self.asset_path('es5-shim.js'))

    script(type="text/javascript")
      !{self.asset_include('loader.js')}
      loadAssets.init(!{JSON.stringify(self.head.assets)}, 'admin');

  body

    - if (self.menus.admin && self.menus.admin.navbar)
      nav.navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            ul.nav
              - each item in self.menus.admin.navbar
                li: a(href=item.link)= self.t(item.title)


    .container-fluid
      .row-fluid

        //- Menu sidebar
        - if (self.menus.admin && self.menus.admin.sidebar)
          .span2
            ul.nav.nav-list.well
              - each item in self.menus.admin.sidebar
                li: a(href=item.link)= self.t(item.title)

        //- Content
        .span10

          ul.breadcrumbs
            li: a(href='#') Breadcrumbs
            li: a(href='#') Should
            li: a(href='#') Be
            li: a(href='#') Here

          #content!= self.content

    .nojs
      .alert.alert-error #{self.t('common.nojs')} 
