!!!
html.no-js
  head
    include ../common/head

    - if (self.head.assets.admin)
      each asset in self.head.assets.admin.css
        link(rel='stylesheet', href=asset)

    //if lt IE 9
      script(type="text/javascript", src=self.asset_path('es5-shim.js'))

    script(type="text/javascript")
      !{self.asset_include('loader.js')}
      loadAssets.init(!{JSON.stringify(self.head.assets)}, 'admin');

  body

    include ../admin/partials/_topnav_menu
    - if (self.menus.admin && self.menus.admin.navbar)
      nav.navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            mixin topnav_menu(self.menus.admin.navbar)
               


    .container-fluid
      .row-fluid

        //- Menu sidebar
        include ../admin/partials/_sidebar_menu
        - if (self.menus.admin && self.menus.admin.navbar)
          .span2
            mixin sidebar_menu(self.menus.admin.navbar)
            //-ul.nav.nav-list.well
              //-- each item in self.menus.admin.sidebar
                //-li: a(href=item.link)= self.t(item.title)

        //- Content
        .span10


          #content!= self.content

    .nojs
      .alert.alert-error #{self.t('common.nojs')} 
