!!!
html
  head
    title Nodeca admin panel

    link(rel='stylesheet',href=asset_path('admin/app.css'))

    script(type="text/javascript")!= asset_include('modernizr.js')

    script
      window.REALTIME_ID = "!{random()}";

    script(src=asset_path('lib.js'))
    script(src=asset_path('app.js'))

  body

    nav.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          ul.nav
            - each item in menus.admin.topnav
              li: a(href=item.link)= t(item.title)


    .container-fluid
      .row-fluid

        // Menu sidebar
        .span2
          ul.nav.nav-list.well
        
            - each item in menus.admin.leftpanel
              li: a(href=item.link)= t(item.title)

        // Content
        .span10

          ul.breadcrumbs
            li
              a(href='#') Breadcrumbs
            li
              a(href='#') Should
            li
              a(href='#') Be
            li
              a(href='#') Here

          != content
