!!!
html
  head
    title Nodeca admin panel

    link(rel="stylesheet",href=asset_path('app.css'))

    script(type="text/javascript")!= asset_include('modernizr.custom.js')

    script
      window.REALTIME_ID = "!{random()}";

    script(src=asset_path('lib.js'))
    script(src=asset_path('app.js'))

  body
    #menu
      ul
        - each item in menus.admin.topnav
          li: a(href=item.link)= t(item.title)

    #leftpanel
      #tools
        ul
          - each item in menus.admin.leftpanel
            li: a(href=item.link)= t(item.title)

    #contents
      #breadcrumbs
        p breadcrumbs should be here

      p!= content

    #online!= count_online_users()

