!!!
html
  head
    title Nodeca admin panel

    - for (var i in head.assets)
      - if ('css' === head.assets[i].type)
        link(rel='stylesheet', href=head.assets[i].link)

    script(type="text/javascript")!= asset_include('loader.js')

    script(type="text/javascript")
      window.REALTIME_ID = "!{random()}";

    - for (var i in head.assets)
      - if ('js' === head.assets[i].type)
        script(type="text/javascript", src=head.assets[i].link)

    script(type="text/javascript")
      nodeca.client.common.init();

  body

    nav.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          ul.nav
            - each item in menus.admin.navbar
              li: a(href=item.link)= t(item.title)


    .container-fluid
      .row-fluid

        //- Menu sidebar
        .span2
          ul.nav.nav-list.well

            - each item in menus.admin.sidebar
              li: a(href=item.link)= t(item.title)

        //- Content
        .span10

          ul.breadcrumbs
            li
              a(href='#') Breadcrumbs
            li
              a(href='#') Should
            li
              a(href='#') Be
            li
              a(href='#') Here

          #content!= content
