!!! 5
html.no-js(itemscope, itemtype='http://schema.org/WebPage')
  head
    include ../common/widgets/head

    each ns in ['common', self.head.apiPath.split('.').shift()]
      - if (self.head.assets[ns])
        each asset in self.head.assets[ns].css
          link(rel='stylesheet', href=asset)

    //if lt IE 9
      script(type="text/javascript", src=self.asset_path('es5-shim.js'))

    script(type="text/javascript")
      !{self.asset_include('loader.js')}
      loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.head.apiPath.split(".").shift()}',
        !{JSON.stringify(self.env.session.locale)}
      );

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26895916-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner

        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span

          a.brand(href="/") Nodeca

          .nav-collapse.collapse

            include ../common/widgets/navbar_menu

            form.navbar-search
              input.input-medium.search-query(type='text', placeholder='Search')
              .icon-search

            // Temporary removed, will go to dropdown
            //
              - if (self.menus.common.admin.length > 0)
                ul.nav
                  - each item in self.menus.common.admin
                    li: a(href=item.link, target='_blank')= self.t(item.title)

            - if (self.me)
              ul.nav.pull-right
                li.dropdown
                  a.dropdown-toggle.icon-user(href='#', data-toggle='dropdown')
                    | #{self.me._uname}
                    b.caret
                  ul.dropdown-menu
                    li: a(href='#') Admin
                    li.divider
                    li: a(href=self.link_to('users.profile'))= self.t('common.auth.profile')
                    li: a.icon-check(href='#') No images (fast)
                    li.divider
                    li: a(href=self.link_to('users.auth.logout'))= self.t('common.auth.logout')
            - else
              ul.nav.pull-right
                li: a(href=self.link_to('users.auth.login.view'))= self.t('common.auth.login')
                li: a(href=self.link_to('users.auth.register.view'))= self.t('common.auth.register')
               

    #content.container!= self.content


    footer.container.page-footer
      ul.page-footer-nav.clearfix
        li: a(href='#') About
        li: a(href='#') Contacts
        li: a(href='#') Terms
        li: a(href='#') Help

        li.dropup
          a.dropdown-toggle(href='#',data-toggle='dropdown') Language
            b.caret
          ul.dropdown-menu
            each locale in self.nodeca('config.locales.enabled')
              li
                a(href='#',
                  data-on-click='common.locale',
                  data-locale=locale)= self.t('common.language.' + locale)

        li.dropup
          a.dropdown-toggle(href='#',data-toggle='dropdown') Theme
            b.caret
          ul.dropdown-menu
            li: a(href='#') Black & White
            li: a(href='#') Yellow

      p.copyright
        | Powered by 
        a(href='#') Nodeca
        | , social platform by 
        a(href='#') RC Design


    .debug.hidden-phone
      .container
        //{{PUNCHER_STATS}}
