!!!
html
  head
    title Nodeca rulez!

    script(type="text/javascript")!= asset_include('modernizr.custom.js')

  body
    #menu
      ul
        - each item in menus.common.topnav
          li: a(href=item.link)= t(item.title)

    nav.breadcrumbs
      p breadcrumbs should be here

    #contents!= content
    #online!= count_online_users()


  script
    window.REALTIME_ID = "!{random()}";
  script(src=asset_path('app.js'))
