!!!
html.no-js
  head
    title Nodeca rulez!

    link(rel='stylesheet', href=asset_path('app.css'))

    script(type="text/javascript")!= asset_include('modernizr.custom.js')

    script(src=asset_path('lib.js'))
    script(src=asset_path('app.js'))

  body
    .container
      nav.navbar
        .navbar-inner

          a.btn.btn-navbar 123

          a.brand(href="/") Nodeca

          .container
            .nav-collapse.collapse
              ul.nav
                - each item in menus.common.topnav
                  li: a(href=item.link)= t(item.title)

      ul.breadcrumb
        li
          a(href='#') breadcrumbs
          span.divider /
        li
          a(href='#') should
          span.divider /
        li
          a(href='#') be
          span.divider /
        li
          a(href='#') here

      #contents!= content
      #online!= count_online_users()
