!!!
html.no-js
  head
    title Nodeca rulez!

    link(rel='stylesheet', href=asset_path('app.css'))

    script(type="text/javascript")!= asset_include('modernizr.custom.js')

    script
      window.REALTIME_ID = "!{random()}";

    script(src=asset_path('lib.js'))
    script(src=asset_path('app.js'))

  body
    nav.navbar.navbar-fixed-top
      .navbar-inner

        .container
          a.btn.btn-navbar 123

          a.brand(href="/") Nodeca

          .nav-collapse.collapse
            ul.nav
              - each item in menus.common.topnav
                li: a(href=item.link)= t(item.title)

    .container

      ul.breadcrumbs
        li
          a(href='#') Breadcrumbs
        li
          a(href='#') Should
        li
          a(href='#') Be
        li
          a(href='#') Here

      #contents!= content
      #online!= count_online_users()
