!!! 5
html.no-js
  head
    title Nodeca rulez!

    link(rel='stylesheet', href=asset_path('app.css'))

    script(type="text/javascript")!= asset_include('modernizr.custom.js')

    script
      window.REALTIME_ID = "!{random()}";

    script(src=asset_path('lib.js'))
    script(src=asset_path('app.js'))

  body
    nav.navbar.navbar-fixed-top
      .navbar-inner

        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span

          a.brand(href="/") Nodeca

          .nav-collapse.collapse
            ul.nav
              - each item in menus.common.topnav
                li: a(href=item.link)= t(item.title)

            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle.icon-user(href='#', data-toggle='dropdown')
                  | vasya@pupkin.net
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Admin
                  li.divider
                  li
                    a(href='#') Settings
                  li
                    a.icon-ok(href='#') No images (fast)
                  li.divider
                  li
                    a(href='#') Exit


    .container

      != content

      footer.page-footer
        ul.page-footer-nav.clearfix
          li
            a(href='#') About
          li
            a(href='#') Contacts
          li
            a(href='#') Terms
          li
            a(href='#') Help

          li.dropup
            a.dropdown-toggle(href='#',data-toggle='dropdown') Language
              b.caret
            ul.dropdown-menu
              li
                a(href='#') English
              li
                a(href='#') Russian

          li.dropup
            a.dropdown-toggle(href='#',data-toggle='dropdown') Theme
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Black & White
              li
                a(href='#') Yellow

        p.copyright
          | Powered by 
          a(href='#') Nodeca
          | , social platform by 
          a(href='#') RC Design
