ul.thumb-grid.thumb-grid__m-sm.thumb-grid__m-tight.thumb-grid__m-responsive
  each attachment in self.attachments
    li.thumb-grid__item

      a.thumb(
        href='#'
        data-media-id=attachment.media_id
        data-type=attachment.type
        data-file-name=attachment.file_name
        data-editor-id=self.editor_id
        data-on-click='mdedit.attachments:insert'
      )
        if attachment.type === 'image'
          - var imageUrl = N.router.linkTo('core.gridfs', { 'bucket': attachment.media_id + '_sm' });
          img.thumb__image(src=imageUrl)
        else if attachment.type === 'binary'
          .thumb__content=attachment.file_name

        button.thumb__control.btn.btn-default.btn-xs.icon.icon-cancel(
          data-editor-id=self.editor_id
          data-media-id=attachment.media_id
          data-on-click='mdedit.attachments:remove'
        )
