.mdedit(
  data-on-dragdrop='mdedit:dd'
  data-keymap= {
    'esc':        'mdedit.cancel',
    'ctrl+enter': 'mdedit.submit'
  }
)
  .emoji-autocomplete

  .mdedit__size-controls
    .mdedit__fullscreen(data-on-click='mdedit.toggle_full')
      .icon.icon-editor-full(title=self.t('toggle_full_on'))
      .icon.icon-editor-small(title=self.t('toggle_full_off'))

    .mdedit__collapser(data-on-click='mdedit.toggle_collapse')
      .icon.icon-collapse(title=self.t('toggle_collapse_off'))
      .icon.icon-expand(title=self.t('toggle_collapse_on'))

  .mdedit__resizer

  .mdedit-header
    .mdedit-header__caption

  .mdedit__body

    .mdedit__editor
      .mdedit__toolbar
      textarea.mdedit__edit-area(
        tabindex=2
        data-keymap-reset='false'
      )
      .mdedit__editor-footer

    .mdedit__preview
      .markup

  .mdedit-footer
    .mdedit-footer__controls-right
      button.mdedit-btn__preview.mdedit-btn__preview-xs.btn.btn-link.icon.icon-preview(
        data-on-click='mdedit.preview_sm'
        tabindex=5
        title=self.t('preview')
      )
      button.mdedit-btn__preview.mdedit-btn__preview-sm.btn.btn-link(
        data-on-click='mdedit.preview_sm'
        tabindex=5
      )= self.t('preview')

      .mdedit__narrow.d-none.d-md-inline-block(data-on-click='mdedit.toggle_narrow')
        .icon.icon-editor-narrow(title=self.t('toggle_narrow_on'))
        .icon.icon-editor-unnarrow(title=self.t('toggle_narrow_off'))

    button.mdedit-btn__submit.btn.btn-primary(
      data-on-click='mdedit.submit'
      tabindex=3
    )= self.t('submit')

    button.mdedit-btn__cancel.btn.btn-link.d-none.d-sm-inline-block(
      data-on-click='mdedit.cancel'
      tabindex=4
    )= self.t('cancel')
    button.mdedit-btn__cancel.btn.btn-link.d-sm-none.icon.icon-x(
      data-on-click='mdedit.cancel'
      tabindex=4
      title=self.t('cancel')
    )
