.mdedit(data-on-dragdrop='mdedit:dd')
  .emoji-autocomplete

  .mdedit__collapser(data-on-click='mdedit.collapse')
    .icon.icon-collapse
    .icon.icon-expand

  .mdedit__resizer

  .mdedit-header
    .mdedit-header__caption

  .mdedit__body

    .mdedit__editor
      .mdedit__toolbar
      .mdedit__edit-area

    .mdedit__preview.markup

  .mdedit-footer
    button.mdedit-btn__submit.btn.btn-primary(
      data-on-click='mdedit.submit'
      tabindex=3
    )= self.t('submit')

    button.mdedit-btn__preview-sm.float-right.btn.btn-link.d-sm-none.icon.icon-preview(
      data-on-click='mdedit.preview_sm'
      tabindex=5
      title=self.t('preview')
    )
    button.mdedit-btn__preview-sm.float-right.btn.btn-link.d-none.d-sm-inline-block.d-md-none(
      data-on-click='mdedit.preview_sm'
      tabindex=5
    )= self.t('preview')
    button.mdedit-btn__preview.float-right.btn.btn-link.d-none.d-md-inline-block(
      data-on-click='mdedit.preview'
      tabindex=5
    )= self.t('preview')

    button.mdedit-btn__cancel.btn.btn-link.d-none.d-sm-inline-block(
      data-on-click='mdedit.cancel'
      tabindex=4
    )= self.t('cancel')
    button.mdedit-btn__cancel.btn.btn-link.d-sm-none.icon.icon-x(
      data-on-click='mdedit.cancel'
      tabindex=4
      title=self.t('cancel')
    )
