- var mTypes = '$$ JSON.stringify(N.models.users.MediaInfo.types) $$'

!=self.html

if self.attachments && self.attachments.length
  ul.thumb-grid.thumb-grid__m-responsive.thumb-grid__m-tight
    each media in self.attachments
      - var href = self.link_to('users.media', { user_hid: self.user_hid, media_id: media.media_id })

      li.thumb-grid__item
        - var mType = media.type & ~mTypes.MASK_DELETED

        if mType === mTypes.IMAGE
          - var imageUrl = self.link_to('core.gridfs', { bucket: media.media_id + '_sm' })
          a.thumb(href=href)
            img.thumb__image(src=imageUrl)

        else if mType === mTypes.MEDIALINK
          .thumb
            a.thumb__inner(href=href)
              .thumb__icon.icon.icon-video
              img.thumb__image(src=media.medialink_data.thumb)

        else if mTypes.BINARY
          a.thumb(href=href)
            .thumb__icon.icon.icon-binary
            .thumb__content= media.file_name
