- var mTypes = '$$ JSON.stringify(N.models.users.MediaInfo.types) $$'
- var have_size = self.width && self.height

if self.is_placeholder
  //- Client only, no data fetched yet, so showing placeholder
  span.attach.attach-img.attach__m-placeholder(
    class= 'attach__m-' + self.size
  )

else if self.type === mTypes.IMAGE || !self.type
  if self.media_id === '000000000000000000000000'
    span.attach.attach-img.attach__m-broken(
      class= 'attach__m-' + self.size
      data-nd-media-id=self.media_id
      data-nd-image-orig=self.href
      data-nd-image-size=self.size
      title= self.title
    )

  else if self.size === 'sm'
    a.attach.attach-img(
      class= 'attach__m-' + self.size
      href=self.href
      target='_blank'
      data-nd-media-id=self.media_id
      data-nd-image-orig=self.href
      data-nd-image-size=self.size
    )
      img.attach__image(
        src=    self.src
        alt=    self.alt
        title=  self.title
        width=  have_size ? self.width : null
        height= have_size ? self.height : null
      )

  else
    span.attach.attach-img(
      class= 'attach__m-' + self.size
      data-nd-media-id=self.media_id
      data-nd-image-orig=self.href
      data-nd-image-size=self.size
      style=have_size ? "width: " + self.width + "px" : null
    )
      if have_size
        span.attach__spacer(
          style="padding-bottom: " + (self.height / self.width * 100).toFixed(4) + "%"
        )

      img(src=self.src, alt=self.alt, title=self.title)
      a.attach__link-control.icon.icon-link(href=self.href, target='_blank')

else if self.type === mTypes.BINARY
  a.attach.attach-bin.attach__m-sm(
    href=self.href
    target='_blank'
    data-nd-media-id=self.media_id
    data-nd-image-orig=self.href
  )
    span.attach__icon.icon.icon-binary
    span.attach__content= self.text
