//- Horizontal site navigation

- var localizationPrefix = '@common.menus.navbar.';

- function compare(a, b) { return (a.info.priority || 100) - (b.info.priority || 100); }

- function sortedItems(items) {
-   var result = [];
-   Object.keys(items).forEach(function (name) {
-     if (!items[name]) { return; }
-     result.push({ name: name, info: items[name] });
-   });
-   return result.sort(compare);
- }

nav.navbar.navbar-default.navbar-fixed-top
  .navbar-primary.layout__container.container-fluid
    .navbar-header
      button.navbar-toggle(
        data-toggle='collapse',
        data-target='.navbar-collapse',
        type='button'
      )
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href="/") Nodeca

    .navbar-collapse.collapse
      ul.nav.navbar-nav
        each item in sortedItems(self.runtime.navbar)
          - var info = item.info;
          li(data-api-path=info.to, data-autoselect=(info.autoselect === false ? 0 : 1))
            a(href=self.link_to(info.to))= self.t(localizationPrefix + item.name)

        li: a(href='https://github.com/nodeca/nodeca', target='_blank') Github

      //-
      form.navbar-form.navbar-left.hidden-sm
        input.form-control(type='text', placeholder='Search')

      ul.nav.navbar-nav.navbar-right
        //- NOTE: This block is located in `nodeca.users`
        != self.partial('@common.blocks.navbar_auth')

  //- Alternative navbar container
  .navbar-alt.layout__container.container-fluid
