//- need cut base of ns menu path ('common.menus.navbar')
- var MENU_BASE_NS_LEVEL = 3
//- need cut base of api path ('admin')
- var API_PATH_BASE_NS_LEVEL = 1
- var api_path_tail = self.apiPath.split('.').slice(API_PATH_BASE_NS_LEVEL).join('.')


//- Create next menu level
//-
//-   submenus (Array)         - submenus 
mixin _create_submenus(submenus)
  - var item_link
  ul.dropdown-menu
    each item in submenus
      if (item.childs)
        // If item without link, then take link from first child
        if (!item.link)
          item_link = item.childs[0].link
        else
          item_link = item.link
        li.dropdown-submenu
          a(href=item_link, tabindex='-1')= self.t(item.title)
          mixin _create_submenus(item.childs)
      else
        li
          a(href=item.link)= self.t(item.title)


//- Create admin top menu
//-
//-   menus (Object)  - menu container nodeca.config.menus.<menu_name>
mixin nav_menu(menus)
  - var active_state
  - var item_path_tail

  ul.nav.navbar-default
    each item in menus
      - var item_path_tail= item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')

      //- highlight current app
      if (api_path_tail.indexOf(item_path_tail) > -1)
        - active_state = 'active'
      else
        - active_state = ''

      if (item.childs)
        li.nav-panel__menu-item.dropdown(class=active_state, data-api-path=item.to)
          a.nav-panel__menu-link(href=item.link)= self.t(item.title)
          mixin _create_submenus(item.childs)
      else
        li.nav-panel__menu-item(class=active_state, data-api-path=item.to)
          a.nav-panel__menu-link(href=item.link)= self.t(item.title)

//-/////////////////////////////////////////////////////////////////////////////

.nav-panel
  .nav-panel__inner
    .nav-panel__row
      a.nav-panel__btn(href='/' title=self.t('home'))
        span.nav-panel__btn-icon.icon-home
    .nav-panel__row
      a.nav-panel__btn(
        href='#'
        title=self.t('menu')
        data-on-click='common.blocks.nav_panel.toggle_menu'
      )
        span.nav-panel__btn-icon.icon-menu
    .nav-panel__row
      a.nav-panel__btn.nav-panel__btn-flex(
        href='#'
        data-on-click='common.blocks.nav_panel.scroll'
      )
        span.nav-panel__btn-icon.icon-scroll-up(title=self.t('scroll_top'))
        span.nav-panel__btn-icon.icon-scroll-down(title=self.t('scroll_back'))
    != self.partial('@common.blocks.nav_panel_auth')

.nav-panel-overlay
  a.nav-panel-overlay__link(
    href='#'
    data-on-click=('common.blocks.nav_panel.toggle_menu')
  )
  .nav-panel__menu
    mixin nav_menu(self.navbar)
    ul.nav.navbar-default
      li.nav-panel__menu-item
        a.nav-panel__menu-link(
          href='https://github.com/nodeca/nodeca'
          target='_blank'
        ) Github
