//- Create pagination
//-
//-   route  (String)  - routing rule. Ex: "forum.thread".
//-   params (Object)  - routing params. See routing rules in config.
//-   current (String|Int) - current page position
mixin pagination(route, params, current, max_page)
  - current = parseInt(current)
  ul.pagination
    - if (current > 1)
      li
        a(href=link_to(route, params)) 1
    - if (current > 4)
      li.dropdown
        - delete(params.page)
        a.more.dropdown-toggle(href=link_to(route, params), data-toggle='dropdown') ...
        form.dropdown-menu
          - var pgmpid = 'pgmid' + ~~(Math.random()*100000000);
          label.pgn-jump.input(for=pgmpid) Jump to:
          .input-append
            input.input-small(id=pgmpid, type='text', size='8', placeholder='Page number')
            button.btn.btn-inverse(type='button') Go!
    - if (current > 3)
      - params.page = current - 2
      li
        a(href=link_to(route, params)) #{current - 2}
    - if (current > 2)
      - params.page = current - 1
      li
        a(href=link_to(route, params)) #{current - 1}
    li.dropdown
      - params.page = current
      a.current.dropdown-toggle(href=link_to(route, params), data-toggle='dropdown') #{current}
      form.dropdown-menu
        - var pgmpid = 'pgmid' + ~~(Math.random()*100000000);
        label.pgn-jump.input(for=pgmpid) Jump to:
        .input-append
          input.input-small(id=pgmpid, type='text', size='8', placeholder='Page number')
          button.btn.btn-inverse(type='button') Go!

    - if ((max_page - current) >= 1 )
      - params.page = current + 1
      li
        a(href=link_to(route, params)) #{current + 1}

    - if ((max_page - current) >= 2)
      - params.page = current + 2
      li
        a(href=link_to(route, params))  #{current + 2}

    - if (max_page - current > 3)
      li.dropdown
        - delete(params.page)
        a.more.dropdown-toggle(href=link_to(route, params), data-toggle='dropdown') ...
        form.dropdown-menu
          - var pgmpid = 'pgmid' + ~~(Math.random()*100000000);
          label.pgn-jump.input(for=pgmpid) Jump to:
          .input-append
            input.input-small(id=pgmpid, type='text', size='8', placeholder='Page number')
            button.btn.btn-inverse(type='button') Go!
    - if (max_page - current > 2)
      - params.page = max_page
      li
        a(href=link_to(route, params)) #{max_page}
