mixin puncher_scope(scope)
  li
    p
      - if (scope.elapsed.missed)
        | (#{scope.elapsed.total}ms - #{scope.elapsed.missed}ms)
      - else
        | (#{scope.elapsed.total}ms)
      |  #{scope.message} #{JSON.stringify(scope.meta)}
    - if (scope.childs.length)
      mixin puncher_items(scope.childs)

mixin puncher_items(scopes)
  ul
    - each scope in scopes
      mixin puncher_scope(scope)

#puncher_stats
  mixin puncher_items(widgets.puncher_stats)
