#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    ul.nav.nav-tabs-underlined.m-b-1
      each tabName, tabIndex in self.tabs
        li.nav-item
          a.nav-link(
            href="#tab_#{tabName}"
            data-toggle="tab"
            class=(0 === tabIndex ? 'active' : '')
          )= self.t('@admin.core.group_names.' + tabName)

    .tab-content
      each tabName, tabIndex in self.tabs
        .tab-pane(id="tab_#{tabName}", class=(0 === tabIndex ? 'active' : ''))
          table.table.table-striped.table-hover
            each group in self.groups[tabName]
              tr
                td
                  a(href=self.link_to('admin.core.global_settings.edit', { group: group.name }))
                    = self.t('@admin.core.group_names.' + group.name)
                  |  
                  small.text-muted
                    |  
                    = self.t('settings_count', group.settingsCount)
