#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.runtime.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin, path: self.blocks.breadcrumbs })

    h1= self.head.title

    ul.nav.nav-pills
      each tabName, tabIndex in self.tabs
        li(class=(0 === tabIndex ? 'active' : ''))
          a(href="#tab_#{tabName}", data-toggle="tab")= self.t('@admin.core.group_names.' + tabName)

    .tab-content
      each tabName, tabIndex in self.tabs
        .tab-pane(id="tab_#{tabName}", class=(0 === tabIndex ? 'active' : ''))
          table.table.table-striped.table-hover.global-settings__table
            each group in self.groups[tabName]
              tr
                td
                  h3.global-settings__group-title
                    a(href=self.link_to('admin.core.global_settings.edit', { group: group.name }))
                      = self.t('@admin.core.group_names.' + group.name)
                    |  
                    small
                      |  
                      = self.t('settings_count', { count: group.settingsCount })

                    //-if self.t.exists('@admin.core.group_names.' + group.name + '_help')
                      p
                        small= self.t('@admin.core.group_names.' + group.name + '_help')
