.add-link-dialog.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  form.modal-dialog(onsubmit="return false;" role='document')
    .modal-content
      .modal-header
        h4.modal-title= self.t('title')
        button.close(type='button' tabindex='-1' data-dismiss='modal') &times;
      .modal-body
        .form-group
          input.add-link-dialog__text.form-control(
            type='text'
            placeholder=self.t('text_desc')
          )
        .form-group
          input.add-link-dialog__link.form-control(
            type='text'
            placeholder=self.t('link_desc')
          )
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal')= self.t('cancel')
        button.add-link-dialog__apply.btn.btn-primary(type='submit')= self.t('ok')
