doctype html
html.no-js(itemscope, itemtype='http://schema.org/WebPage', class=self.offline_mode ? 'site-offline' : '')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if self.head
      if self.head.title
        title #{self.head.title}

      != self.partial('meta')

    if self.head.stylesheets[self.apiPath.split('.').shift()]
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    if self.inject_headers
      != self.inject_headers.join('\n')

    script(type="text/javascript").
      !{self.asset_body('nodeca.core/client/lib/loader/loader.js')}

      var shims = [];

      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}',
        shims
      );

  body
    if self.inject_body_start
      != self.inject_body_start.join('\n')

    //- Needed to align notifications over working layout
    .notifications-container
      .layout__container.container-fluid
        //- Keep padding for position: absolute
        div(style='position:relative')
          .notifications

    != self.content

    footer.layout__container.container-fluid.page-footer
      != self.partial('@common.blocks.footer', { locales: self.enabled_locales })

      .nojs-alert.js-hide
        .alert.alert-danger= self.t('nojs')

      .nocookies-alert
        .alert.alert-danger= self.t('nocookies')

      .site-offline-msg.text-center
        .alert.alert-danger= self.t('offline')

      .debug
        .layout__container.container-fluid
          #debug_timeline.debug-timeline

    div#runtime(style="display: none")= JSON.stringify(self.runtime)
