doctype html
html.no-js(itemscope, itemtype='http://schema.org/WebPage')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if self.head
      if self.head.title
        title #{self.head.title}
      //- description
      if self.head.desc
        meta(name='description', content=self.head.desc)
      //- keywords
      if self.head.keywords
        meta(name='description', content=self.head.keywords)

    if self.head.stylesheets[self.apiPath.split('.').shift()]
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    script(type="text/javascript").
      !{self.asset_include('loader.js')}
      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}'
      );

    if self.inject_header
      != self.inject_header

  //- class nav-horiz-on/nav-vert-on defines navigation type
  body.nav-horiz-on
    //-._affix(data-affix={ top: 500, class: 'layout-scroll-top__active' })
    != self.partial('@common.blocks.nav_horiz', { is_member: self.runtime.is_member, user_name: self.runtime.user_name, settings: self.settings })
    .layout__container.container-fluid
      != self.partial('@common.blocks.nav_vert', { is_member: self.runtime.is_member, user_name: self.runtime.user_name, settings: self.settings })
      .layout__content
        != self.content

        != self.partial('@common.blocks.footer', { locales: self.enabled_locales })

        .nojs
          .alert.alert-danger #{self.t('nojs')}

        .nocookies
          .alert.alert-danger #{self.t('nocookies')}

        .debug.hidden-xs
          //{{PUNCHER_STATS}}

      //-a.layout-scroll-top.icon.icon-scroll-up(href='#' data-on-click='common.layout:scroll_top')

    div#runtime(style="display: none")= JSON.stringify(self.runtime)
