doctype html
html.no-js(itemscope, itemtype='http://schema.org/WebPage')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if self.head
      if self.head.title
        title #{self.head.title}
      //- description
      if self.head.desc
        meta(name='description', content=self.head.desc)
      //- keywords
      if self.head.keywords
        meta(name='description', content=self.head.keywords)

    if self.head.stylesheets[self.apiPath.split('.').shift()]
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    script(type="text/javascript").
      !{self.asset_include('loader.js')}
      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}'
      );

    if self.inject_header
      != self.inject_header


  body
    nav.layout__navbar.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle(
            data-toggle='collapse',
            data-target='.navbar-collapse',
            type='button'
          )
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand(href="/") Nodeca

        .navbar-collapse.collapse
          - if (self.runtime.menus.common.navbar)
            ul.nav.navbar-nav
              - each item in self.runtime.menus.common.navbar
                - var ns = self.apiPath.split('.').shift(), item_ns = item.to.split('.').shift();
                - if (ns === item_ns)
                  li(data-api-path=item_ns, class='active'): a(href=item.link)= self.t(item.title)
                - else
                  li(data-api-path=item_ns): a(href=item.link)= self.t(item.title)

              //- Temporary github link
              li: a(href='https://github.com/nodeca/nodeca',target='_blank') Github
          //-
          form.navbar-form.navbar-left.hidden-sm
            input.form-control(type='text', placeholder='Search')

          //- NOTE: This block is located in `nodeca.users`
          != self.partial('@common.blocks.auth_toolbar', { is_member: self.runtime.is_member, user_name: self.runtime.user_name, settings: self.settings })


    .container!= self.content

    != self.partial('@common.blocks.footer', { locales: self.enabled_locales })

    .nojs
      .alert.alert-danger #{self.t('nojs')} 

    .debug.hidden-xs
      .container
        //{{PUNCHER_STATS}}


    div#runtime(style="display: none")= JSON.stringify(self.runtime)
