!!! 5
html.no-js(itemscope, itemtype='http://schema.org/WebPage')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    - if (self.head)
      - if (self.head.title)
        title #{self.head.title}
      //- description
      - if (self.head.desc)
        meta(name='description', content=self.head.desc)
      //- keywords
      - if (self.head.keywords)
        meta(name='description', content=self.head.keywords)

    - if (self.head.stylesheets[self.apiPath.split('.').shift()])
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    script(type="text/javascript")
      !{self.asset_include('loader.js')}
      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}'
      );

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26895916-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    nav#navbar_menu.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner

        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span

          a.brand(href="/") Nodeca

          .nav-collapse.collapse
            - if (self.menus.common.navbar)
              ul.nav
                - each item in self.menus.common.navbar
                  - var ns = self.apiPath.split('.').shift(), item_ns = item.to.split('.').shift();
                  - if (ns === item_ns)
                    li(data-api-path=item_ns, class='active'): a(href=item.link)= self.t(item.title)
                  - else
                    li(data-api-path=item_ns): a(href=item.link)= self.t(item.title)

                //- Temporary github link
                li: a(href='https://github.com/nodeca/nodeca',target='_blank') Github

            form.navbar-search
              input.input-medium.search-query(type='text', placeholder='Search')
              .icon-search

            // Temporary removed, will go to dropdown
            //
              - if (self.menus.common && self.menus.common.admin && self.menus.common.admin.length > 0)
                ul.nav
                  - each item in self.menus.common.admin
                    li: a(href=item.link, target='_blank')= self.t('@' + item.title)

            //- NOTE: This block is located in `nodeca.users`
            != self.partial('@common.blocks.auth_toolbar', { is_member: self.runtime.is_member, user_name: self.runtime.user_name })


    .container!= self.content

    != self.partial('@common.blocks.footer', { locales: self.enabled_locales })

    .debug.hidden-phone
      .container
        //{{PUNCHER_STATS}}


    div#runtime(style="display: none")= JSON.stringify(self.runtime)
