!!! 5
html.no-js(itemscope, itemtype='http://schema.org/WebPage')
  head
    include ./_head

    - if (self.head.apiPath.split('.').shift())
      each cssPath in self.head.stylesheets[self.head.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    //if lt IE 9
      script(type="text/javascript", src=self.asset_path('es5-shim.js'))

    script(type="text/javascript")
      !{self.asset_include('javascripts/loader.js')}
      loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        !{JSON.stringify(self.head.apiPath.split(".").shift())}
      );

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26895916-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner

        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span

          a.brand(href="/") Nodeca

          .nav-collapse.collapse

            != self.partial('@common.blocks.navbar_menu')

            form.navbar-search
              input.input-medium.search-query(type='text', placeholder='Search')
              .icon-search

            // Temporary removed, will go to dropdown
            //
              - if (self.menus.common && self.menus.common.admin && self.menus.common.admin.length > 0)
                ul.nav
                  - each item in self.menus.common.admin
                    li: a(href=item.link, target='_blank')= self.t('@' + item.title)

            - if (self.runtime.is_member)
              ul.nav.pull-right
                li.dropdown
                  a.dropdown-toggle.icon-user(href='#', data-toggle='dropdown')
                    | #{self.runtime.user_name}
                    b.caret
                  ul.dropdown-menu
                    li: a(href='#') Admin
                    li.divider
                    li: a(href=self.link_to('users.profile'))= self.t('@common.auth.profile')
                    li: a.icon-check(href='#') No images (fast)
                    li.divider
                    li: a(href=self.link_to('users.auth.logout'))= self.t('@common.auth.logout')
            - else
              ul.nav.pull-right
                li: a(href=self.link_to('users.auth.login.show'))= self.t('@common.auth.login')
                li: a(href=self.link_to('users.auth.register.show'))= self.t('@common.auth.register')


    .container!= self.content

    != self.partial('@common.blocks.footer')

    .debug.hidden-phone
      .container
        //{{PUNCHER_STATS}}
