doctype html
html.no-js(itemscope, itemtype='http://schema.org/WebPage', class=self.offline_mode ? 'site-offline' : '')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if self.head
      if self.head.title
        title #{self.head.title}

      != self.partial('meta')

    if self.head.stylesheets[self.apiPath.split('.').shift()]
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    script(type="text/javascript").
      !{self.asset_body('nodeca.core/client/lib/loader/loader.js')}
      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}'
      );

    if self.inject_headers
      != self.inject_headers.join('\n')

  body
    //-._affix(data-affix={ top: 500, class: 'layout-scroll-top__active' })
    != self.partial('@common.blocks.navbar', { is_member: self.runtime.is_member, user_name: self.runtime.user_name, settings: self.settings })
    != self.content

    .layout__container.container-fluid
      != self.partial('@common.blocks.footer', { locales: self.enabled_locales })

      .nojs
        .alert.alert-danger= self.t('nojs')

      .nocookies
        .alert.alert-danger= self.t('nocookies')

      .site-offline-msg.text-xs-center
        .alert.alert-danger= self.t('offline')

      .debug
        .layout__container.container-fluid
          //{{PUNCHER_STATS}}

    div#runtime(style="display: none")= JSON.stringify(self.runtime)
