footer.page-footer.clearfix
  ul.page-footer-nav.pull-xs-left
    li.page-footer-nav__item
      a.page-footer-nav__item-link(href='#') About
    li.page-footer-nav__item
      a.page-footer-nav__item-link(href='#') Contacts
    li.page-footer-nav__item
      a.page-footer-nav__item-link(href='#') Terms
    li.page-footer-nav__item
      a.page-footer-nav__item-link(href='#') Help

    li.page-footer-nav__item.dropup
      - var menu_rnd_id = 'rnd' + String(Math.random()).slice(2, 10)

      a.page-footer-nav__item-link.dropdown-toggle(
        href='#'
        id=menu_rnd_id
        aria-haspopup='true'
        aria-expanded='false'
        data-toggle='dropdown'
      ) Language

      .dropdown-menu.dropdown-menu-left(aria-labelledby=menu_rnd_id)
        each locale in self.locales
          button.dropdown-item(
            data-on-click='common.set_language'
            data-locale=locale
          )= self.t('language.' + locale)

    li.page-footer-nav__item.icon.icon-github.icon-space-after
      a.page-footer-nav__item-link(
        href='https://github.com/nodeca'
        target='_blank'
      ) Github
