//- Vertical site navigation

- var localizationPrefix = '@common.menus.navbar.';

- function compare(a, b) { return (a.info.priority || 100) - (b.info.priority || 100); }

- function sortedItems(items) {
-   var result = [];
-   Object.keys(items).forEach(function (name) {
-     if (!items[name]) { return; }
-     result.push({ name: name, info: items[name] });
-   });
-   return result.sort(compare);
- }

.nav-vert__panel
  .nav-vert__panel-inner
    .nav-vert__panel-row
      a.nav-vert__btn(href='/' title=self.t('home'))
        span.nav-vert__btn-icon.icon-home
    .nav-vert__panel-row
      //- use labels instead of buttons,
      //- because buttons are not ok with table-cell
      label.nav-vert__btn(
        data-on-click='common.blocks.nav_vert.toggle_menu'
        title=self.t('menu')
      )
        span.nav-vert__btn-icon.icon-menu
    .nav-vert__panel-row
      label.nav-vert__btn.nav-vert__btn-flex(
        data-on-click='common.blocks.nav_vert.scroll'
      )
        span.nav-vert__btn-icon.icon-scroll-up(title=self.t('scroll_top'))
        span.nav-vert__btn-icon.icon-scroll-down(title=self.t('scroll_back'))
    .nav-vert__panel-row
      label.nav-vert__btn(
        data-on-click='common.layout.nav_toggle'
        title=self.t('horiz_nav')
      )
        span.nav-vert__btn-icon.icon-nav-horiz
    != self.partial('@common.blocks.nav_vert_auth')

.nav-vert__overlay
  button.nav-vert__overlay-bg(data-on-click='common.blocks.nav_vert.toggle_menu')
  .nav-vert__menu
    ul.nav.navbar-default
      each item in sortedItems(self.runtime.navbar)
        - var info = item.info;
        li.nav-vert__menu-item(data-api-path=info.to, data-autoselect=(info.autoselect === false ? 0 : 1))
          a.nav-vert__menu-link(href=self.url_to(info.to))= self.t(localizationPrefix + item.name)
      
      li.nav-vert__menu-item
        a.nav-vert__menu-link(href='https://github.com/nodeca/nodeca', target='_blank') Github
