.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      form(novalidate, data-on-submit='common.blocks.abuse_report_dlg:submit')
        .modal-header
          h4.modal-title=self.t('title')
          button.btn-close(type='button' tabindex='-1' data-bs-dismiss='modal')
        .modal-body.abuse-report-dlg__controls
          if self.messages.length
            .form-group
              select.form-control.custom-select(data-on-change='common.blocks.abuse_report_dlg:quick_fill' tabindex='1')
                option(value='')=self.t('templates_help')
                each message in self.messages
                  - var title = message.split('\n').shift(); // first line
                  option(value=message)=title

          .form-group.abuse-report-dlg__loading-placeholder(style='display: none')
            span.icon.icon-loading-placeholder

          .form-group.abuse-report-dlg__default-control
            textarea.abuse-report-dlg__message.form-control(
              name='message'
              rows='5'
              tabindex='2'
              placeholder=self.placeholder || self.t('placeholder')
              required
            )

        .modal-footer
          button.btn.btn-secondary(type='button' tabindex='3' data-bs-dismiss='modal')=self.t('cancel')
          button.btn.btn-danger(type='submit' tabindex='4')=self.t('ok')
