blockquote(cite=self.href || false).quote
  //-
  //- Render quote header in those cases:
  //- 1. link to source (href + user)
  //- 2. link to source, user deleted (href only)
  //- 3. link to user profile (user only)
  //- 4. user-supplied title (title only)
  //-
  if self.title || self.href || self.user
    footer.quote__title
      if self.title
        = self.title
      if self.href
        .quote__controls.float-end
          button.quote__expand.btn.btn-sm.icon.icon-expand(data-i18n-title='expand')
          button.quote__collapse.btn.btn-sm.icon.icon-collapse(data-i18n-title='collapse')
          a.quote__ref-local.btn.btn-sm.icon.icon-ref-local(href=self.href, data-i18n-title='jump')
          a.quote__ref-outer.btn.btn-sm.icon.icon-ref-outer(href=self.href, data-i18n-title='jump')
      if self.user
        cite.quote__author
          //- src is a transparent 1x1 gif
          img.quote__author-avatar._identicon(
            src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
            data-user-id=String(self.user._id)
            data-avatar-size='sm'
          )
          span.quote__author-name(data-user-id=String(self.user._id))= self.user.nick
        | :
  .quote__content
    if self.html
      != self.html
