blockquote(cite=self.href || false).quote
  if self.title || self.href
    footer.quote__title
      if self.title
        = self.title
      if self.href
        .quote__controls.float-xs-right
          button.quote__expand.btn.btn-xs.icon.icon-expand(data-i18n-title='expand')
          button.quote__collapse.btn.btn-xs.icon.icon-collapse(data-i18n-title='collapse')
          a.quote__ref-local.btn.btn-xs.icon.icon-ref-local(href=self.href, data-i18n-title='jump')
          a.quote__ref-outer.btn.btn-xs.icon.icon-ref-outer(href=self.href, data-i18n-title='jump')
      if self.user
        cite.quote__author
          //- src is a transparent 1x1 gif
          img.quote__author-avatar._identicon(
            src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
            data-user-id=String(self.user._id)
            data-avatar-size='sm'
          )
          span.quote__author-name(data-user-id=String(self.user._id))= self.user.nick
        | :
  .quote__content
    if self.html
      != self.html
