mixin display_boolean(name, value, handler, help_text)
  - if (handler)
    input(type='checkbox', name=name, value='true', checked=value, data-on-change=handler)
  - else
    input(type='checkbox', name=name, value='true', checked=value)

  - if (help_text)
    span.help-block #{help_text}
