mixin display_number(name, value, handler, help_text)
  .row-fluid
    - if (handler)
      input.span12(type="text", name=name, value=value, data-on-input=handler)
    - else
      input.span12(type="text", name=name, value=value)

    - if (help_text)
      span.help-block #{help_text}
