div#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.menus.admin })

  div.main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.menus.admin, path: self.blocks.breadcrumbs });

    h1= self.head.title

    ul.nav.nav-tabs
      each tabName, tabIndex in self.tabs
        li(class=(0 === tabIndex ? 'active' : ''))
          a(href="#tab_#{tabName}", data-toggle="tab")
            h4= self.t('@admin.setting.group.' + tabName)

    div.tab-content
      each tabName, tabIndex in self.tabs
        div.tab-pane(id="tab_#{tabName}", class=(0 === tabIndex ? 'active' : ''))
          each group in self.groups[tabName]
            div
              h4
                a(href=self.link_to('admin.core.global_setting_groups.edit', { group: group.name }))
                  = self.t('@admin.setting.group.' + group.name)
                span
                  = self.t('settings_count', { count: group.settingsCount })

              if self.t.exists('@admin.setting.group.' + group.name + '_help')
                p= self.t('@admin.setting.group.' + group.name + '_help')
