//- need cut base of ns menu path ('admin.menus.navbar')
- var MENU_BASE_NS_LEVEL = 3
//- need cut base of api path ('admin')
- var API_PATH_BASE_NS_LEVEL = 1
- var api_path_tail = self.head.apiPath.split('.').slice(API_PATH_BASE_NS_LEVEL).join('.')


- if (self.menus.admin && self.menus.admin.navbar)
  - var item_path_tail
  - var menu_active_class

  - each app_level_item in self.menus.admin.navbar

    //- display items only for current app
    - item_path_tail = app_level_item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')
    - if (api_path_tail.indexOf(item_path_tail) > -1)
      - if (app_level_item.childs)

        ul.nav.nav-list
          - each first_level_item in app_level_item.childs
            - item_path_tail= first_level_item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')
            
            //- highlight sub-items (check by api path)
            - if (api_path_tail.indexOf(item_path_tail) > -1 || self.head.apiPath === first_level_item.to)
              menu_active_class = '_active'
            - else
              menu_active_class = ''

            li.nav-header(class=menu_active_class) #{self.t(first_level_item.title)}
              
            //- Submenus
            - if (first_level_item.childs && first_level_item.childs.length)
              - each second_level_menu in first_level_item.childs
                li(class=menu_active_class)
                  a(href=second_level_menu.link) #{self.t(second_level_menu.title)}
