mixin display_number(name, value)
  input(type="text", name=name)

mixin dispay_sting(name, value)
  input(type="text", name=name)

mixin display_boolean(name, value)
  input(type='checkbox', name=name, checked=value)

mixin display_value(name, value, type)
  case type
    when 'number'
      mixin display_number(name, value)
    when 'string'
      mixin dispay_sting(name, value)
    when 'boolean'
      mixin display_boolean(name, value)
    default
      mixin dispay_sting(name, value)

ul.breadcrumbs
  li: a(href='#') Breadcrumbs
  li: a(href='#') Should
  li: a(href='#') Be
  li: a(href='#') Here

h1= self.t('admin.setting.category.' + self.category_name)

form(name="settings", action="#")
  ul
    -each setting, name in self.category
      li
        .setting
          .setting_header
            p= self.t('admin.setting.' + name)
          .setting_body
            p= self.t('admin.setting.' + name + '_help')
            mixin display_value(name, setting["default"], setting.type)
  input(type="button", value="Save", onclick="saveSettings()")
