//- need cut base of ns menu path ('admin.menus.navbar')
- var MENU_BASE_NS_LEVEL = 3
//- need cut base of api path ('admin')
- var API_PATH_BASE_NS_LEVEL = 1
- var api_path_tail = self.head.apiPath.split('.').slice(API_PATH_BASE_NS_LEVEL).join('.')


//- Create next menu level
//-
//-   submenus (Array)         - submenus 
mixin _create_submenus(submenus)
  - var li_class
  ul.dropdown-menu
    - each item in submenus
      - if (item.childs)
        li.dropdown-submenu
          a(href=item.link, tabindex='-1')= self.t(item.title)
          mixin _create_submenus(item.childs)
      - else
        li
          a(href=item.link)= self.t(item.title)


//- Create admin top menu
//-
//-   menus (Object)  - menu container nodeca.config.menus.<menu_name>
mixin topnav_menu(menus)
  - var li_class
  - var item_path_tail

  ul.nav
    - each item in menus
      - var item_path_tail= item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')

      //- highlight current app
      - if (api_path_tail.indexOf(item_path_tail) > -1)
        - li_class = 'active'
      -else
        - li_class = ''
      
      - if (item.childs)
        li.dropdown(class=li_class)
          a.dropdown-toggle(href=item.link, data-toggle='dropdown')= self.t(item.title)
            b.caret
          mixin _create_submenus(item.childs)
      - else
        li(class=li_class)
          a(href=item.link)= self.t(item.title)
