//- level of current app in ns
- var NS_TOPNAV_BASE_LEVEL = 1

//- Create each item and all sumitems for topnav menu
//-
//-   menus (Object)         - menu item with submenus 
//-   parent_class (String)  - class of item used only on zero level, 
//-                            can by 'active' or null
mixin _topnav_dropdowm_menu(container)
  ul.dropdown-menu
    - each item in container.childs
      - if (item.childs)
        li.dropdown-submenu
          a(href=item.link, tabindex='-1')= self.t(item.title)
          mixin _topnav_dropdowm_menu(item)
      - else
        li
          a(href=item.link)= self.t(item.title)


//- Create admin top menu
//-
//-   menus (Object)  - menu container nodeca.config.menus.<menu_name>
mixin topnav_menu(menus)
  //- ns for current app
  - var current_app_ns = self.head.apiPath.split('.')[NS_TOPNAV_BASE_LEVEL]
  - var active_class
  ul.nav
    - each item in menus
      - active_class = (current_app_ns === item.to.split('.')[NS_TOPNAV_BASE_LEVEL] ? 'active' : '')
      - if (item.childs)
        li.dropdown(class=active_class)
          a.dropdown-toggle(href=item.link, data-toggle='dropdown')= self.t(item.title)
            b.caret
          mixin _topnav_dropdowm_menu(item)
      - else
        li(class=active_class)
          a(href=item.link)= self.t(item.title)
