script
  yepnope({
    load: "http://www.google.com/recaptcha/api/js/recaptcha_ajax.js",
    complete: function () {
      Recaptcha.create("#{self.runtime.recaptcha.public_key}", 'recaptcha_div', {
        theme: "#{self.runtime.recaptcha.theme}",
        custom_theme_widget: "#{self.runtime.recaptcha.custom_theme_widget}",
        lang : "#{self.runtime.recaptcha.lang}" //,
        //callback: Recaptcha.focus_response_field
      });
    }
  });

.control-group.capcha-image
  .controls
    span#recaptcha_image
    div.capcha-reload
      a(tabindex=-1, href="javascript:Recaptcha.reload();Recaptcha.focus_response_field();")= self.t('common.recaptcha.change_image')

.control-group
  label.control-label(for='i_captcha')= self.t('common.recaptcha.code')
  .controls
    .row-fluid
      input.span12(id="recaptcha_response_field", name="recaptcha_response_field", type='text')
      span.help-block= self.t('common.recaptcha.description')
