- self.add_raw_data('image_sizes_fetch_task', self.task_info);

#rebuild-image-sizes-fetch-task.rebuild-widget
  .rebuild-widget__title
    = self.t('title')
    | 
    small(data-bind='visible: started, text: (current() / total() * 100 || 0).toFixed(2) + "%"')

  .rebuild-widget__progress.progress
    .progress-bar(
      data-bind='style: { width: (current() / total() * 100).toFixed(4) + "%" }, visible: current() !== total()'
      style='display: none'
    )

  div
    button.btn.btn-secondary(
      data-on-click='admin.core.rebuild.blocks.image_sizes_fetch.start'
      data-bind='visible: !started()'
    )= self.t('start')

    button.btn.btn-danger(
      data-on-click='admin.core.rebuild.blocks.image_sizes_fetch.stop'
      data-bind='visible: started'
      style='display: none'
    )= self.t('stop')
