//- Create pagination
//-
//-   blocks.pagination.route    (String)     - routing rule. Ex: "forum.thread".
//-   blocks.pagination.params   (Object)     - routing params. See routing rules
//-                                             in config.
//-   blocks.pagination.current  (String|Int) - current page position
//-   blocks.pagination.max (String|Int) - current page position


//- Number of pages before/after current one
- var PAGES_INTERVAL = 1


//- internal variables
- var route    = self.route
- var params   = self.params
//- cast Numbers, because router/dom can return strings
- var current  = +self.current
- var max = +self.max

//- save page
- var _page = params.page


ul.pagination
  //- first page always displayed, except when current == 1.
  //- (then we skip first half of paginator)
  if current > 1
    li.page-item
      a.page-link(href=self.link_to(route, params)) 1

  //- left ellipsis displayed, if > 1 pages exists between first one
  //- and left head of "surrounding" pages
  if current > PAGES_INTERVAL + 2
    li.page-item: span.page-link …

  //- left surrounding pages displayed if current page > 2
  - for (var i=PAGES_INTERVAL; i > 0; i--) {
      if current > i + 1
        - params.page = current - i
        li.page-item
          a.page-link(href=self.link_to(route, params))= params.page
  - }

  // current page always dispayed
  li.page-item.active: span.page-link= current

  //- right surrounding pages displayed if current page < (bottom-1)
  - for (var i=1 ; i <= PAGES_INTERVAL; i++) {
      if max - current > i
        - params.page = current + i
        li.page-item
          a.page-link(href=self.link_to(route, params))= params.page
  - }

  //- right ellipsis displayed, if > 1 pages exists between right
  //- tail of "surrounding" pages and the last one.
  if (max - current) > (PAGES_INTERVAL + 1)
    li.page-item: span.page-link …

  //- last page always displayed, except it's current one
  //- (then we skip last half of paginator)
  if max - current !== 0
    - params.page = max
    li.page-item
      a.page-link(href=self.link_to(route, params))= params.page

//- restore page
- params.page = _page
