
//- create dropdown menu
mixin _page_progress_dropdown_menu(jump_path)
  form.dropdown-menu.page-progress__menu(data-on-submit=jump_path)
    - var pgmpid = 'pgmid' + self.get_label_uid()

    label.input(for=pgmpid)= self.t('jump_to')

    .input-group
      input.page-progress__jump-input.form-control(
        id=pgmpid
        name='post'
        type='number'
        min='1'
        max=self.total
        value=self.current || 0
      )
      span.input-group-btn
        button.btn.btn-secondary(type='submit')= self.t('go')


- var current = self.current;
- var total   = self.total;

//- ensure that current is in [1..total] range, except for 0/0
- current = total > 0 ? Math.max(1, Math.min(current, total)) : 0;

ul.navbar-nav.page-progress(
  data-current=current
  data-total=total
  data-section=self.section_hid
  data-topic=self.topic_hid
)
  li.nav-item.page-progress__item
    a.nav-link.page-progress__button-first.icon.icon-to-top(
      href=self.link_top
      data-on-click='common.blocks.navbar.blocks.page_progress:nav_to_top'
    )

  li.nav-item.page-progress__item.dropdown
    if self.on_jump
      a.nav-link.page-progress__info.dropdown-toggle(
        href='#'
        data-toggle='dropdown'
      )
        span.page-progress__label
          span.page-progress__label-current= current || 0
          span.page-progress__label-total= total
        .page-progress__bar
          .page-progress__bar-fill(style="width: " + (current / total * 100).toFixed(2) + "%")

      +_page_progress_dropdown_menu(self.on_jump)
    else
      span.navbar-text.page-progress__info
        .page-progress__label
          span.page-progress__label-current= current || 0
          span.page-progress__label-total= total
        .page-progress__bar
          .page-progress__bar-fill(style="width: " + (current / total * 100).toFixed(2) + "%")

  li.nav-item.page-progress__item
    a.nav-link.page-progress__button-last.icon.icon-to-bottom(
      href=self.link_bottom
      data-on-click='common.blocks.navbar.blocks.page_progress:nav_to_bottom'
    )
