
- var localizationPrefix = '@admin.menus.navbar.';

- function compare(a, b) { return (a.info.priority || 100) - (b.info.priority || 100); }

- function sortedItems(items) {
-   var result = [];
-   Object.keys(items).forEach(function (name) {
-     if (!items[name]) { return; }
-     result.push({ name: name, info: items[name] });
-   });
-   return result.sort(compare);
- }

//- Create next menu level
//-
//- submenu (Object)
mixin _create_submenus(submenu, localizationPrefix)
  - var menu = sortedItems(submenu);
  ul.dropdown-menu
    each item in menu
      - var info = item.info;
      if (item.submenu)
        li.dropdown-submenu
          a(href=self.url_to(info.to), tabindex='-1')= self.t(localizationPrefix + item.name)
          +_create_submenus(info.submenu, localizationPrefix + item.name + '.')
      else
        li: a(href=self.url_to(info.to))= self.t(localizationPrefix + item.name)


nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    ul.navbar__hovered.nav.navbar-nav
      each item in sortedItems(self.runtime.navbar)
        - var info = item.info;
        if (info.submenu)
          li.dropdown(data-api-path=info.to, data-autoselect=(info.autoselect === false ? 0 : 1))
            a(href=self.url_to(info.to))= self.t(localizationPrefix + item.name)
            +_create_submenus(info.submenu, localizationPrefix + item.name + '.')
        else
          li(data-api-path=info.to, data-autoselect=(info.autoselect === false ? 0 : 1))
            a(href=self.url_to(info.to))= self.t(localizationPrefix + item.name)
