H1= self.t('common.registration.form')

form
  label.pgn-jump.input(for='email') #{self.t('common.registration.email')}
  input.input-small(
    id='email', type='string', min='5')
  label.pgn-jump.input(for='pass') #{self.t('common.registration.pass')}
  input.input-small(
    id='pass', type='password', min='6')

  label.pgn-jump.input(for='first_name') #{self.t('common.registration.first_name')}
  input.input-small(
    id='first_name', type='string', min='5')

  label.pgn-jump.input(for='last_name') #{self.t('common.registration.first_name')}
  input.input-small(
    id='last_name', type='string', min='5')

  button.btn.btn-inverse(
    data-action='common.login.send',
    type='button') #{self.t('common.registration.register')}
