div#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.menus.admin })

  div.main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.menus.admin, path: self.blocks.breadcrumbs });

    ul.nav.nav-tabs
      each tabName in self.tabs
        li(class=(tabName === self.activeTab ? 'active' : ''))
          a(href="#tab_#{tabName}", data-toggle="tab")
            h4= self.t('@admin.setting.group.' + tabName)

    div.tab-content
      each tabName in self.tabs
        div.tab-pane(id="tab_#{tabName}", class=(tabName === self.activeTab ? 'active' : ''))
          each groupName in self.groups[tabName]
            div
              h4
                a(href=self.link_to('admin.core.settings_global.settings.edit', { group: groupName }))
                  = self.t('@admin.setting.group.' + groupName)

              if self.t.exists('@admin.setting.group.' + groupName + '_help')
                p= self.t('@admin.setting.group.' + groupName + '_help')
