doctype html
html.no-js
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    - if (self.head)
      - if (self.head.title)
        title #{self.head.title}
      //- description
      - if (self.head.desc)
        meta(name='description', content=self.head.desc)
      //- keywords
      - if (self.head.keywords)
        meta(name='description', content=self.head.keywords)

    - if (self.head.stylesheets.admin)
      each cssPath in self.head.stylesheets.admin
        link(rel='stylesheet', href=cssPath)

    script(type="text/javascript").
      !{self.asset_include('loader.js')}
      NodecaLoader.loadAssets.init(!{JSON.stringify(self.head.assets)}, 'admin');

  body
    include ./_topnav_menu

    - if (self.runtime.menus.admin && self.runtime.menus.admin.navbar)
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          mixin topnav_menu(self.runtime.menus.admin.navbar)

    .container
      != self.content

    .nojs
      .alert.alert-danger #{self.t('nojs')}


    div#runtime(style="display: none")= JSON.stringify(self.runtime)
