doctype html
html.no-js
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    //- defaults for mobile devices, from twitter bootstrap.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if self.head
      if self.head.title
        title #{self.head.title}

      != self.partial('meta')

    if self.head.stylesheets.admin
      each cssPath in self.head.stylesheets.admin
        link(rel='stylesheet', href=cssPath)

    script(type="text/javascript").
      !{self.asset_include('nodeca.core/client/lib/loader/loader.js')}
      NodecaLoader.loadAssets.init(!{JSON.stringify(self.head.assets)}, 'admin');

  body
    != self.partial('@admin.core.blocks.nav_horiz')

    .container-fluid
      != self.content

    .nojs
      .alert.alert-danger #{self.t('nojs')}

    .nocookies
      .alert.alert-danger #{self.t('nocookies')}


    div#runtime(style="display: none")= JSON.stringify(self.runtime)
